<template>
  <q-page class="q-pa-lg bg-blue-3">
    <h5 class="q-mt-none">About</h5>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi
      perferendis nisi quisquam atque? Voluptate eaque quaerat recusandae
      expedita iste accusamus repellat sapiente sunt error, ad veritatis sequi
      numquam vitae exercitationem alias possimus dolore esse id quo nihil
      eligendi necessitatibus quia earum! Exercitationem enim ad doloremque
      veniam ducimus eum, laudantium quia asperiores? Ut repudiandae aliquam ab
      expedita ad, voluptatem voluptas! Voluptate, sapiente amet ea expedita
      accusamus optio laboriosam itaque est sequi temporibus ullam commodi
      tempore dolore ab fugiat atque adipisci corrupti blanditiis accusantium
      nisi. Eaque quod est nesciunt vero voluptatum accusamus officiis ab, quam
      rerum doloremque natus voluptatibus? Sapiente, voluptate est.
    </p>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
};
</script>
