<template>
  <div
    class="fullscreen bg-black text-white text-center q-pa-md flex flex-center"
  >
    <div>
      <q-img :src="images[random]" />

      <div class="text-h2" style="opacity:.6">
        Nothing here...
      </div>

      <q-btn
        class="q-mt-xl"
        color="white"
        text-color="blue"
        to="/"
        label="Go back"
        no-caps
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "Error404",
  data() {
    return {
      images: ["no1.jpg", "no2.png", "no3.jpg"],
    };
  },
  computed: {
    random() {
      return Math.floor(Math.random() * (3 - 1 + 1));
    },
  },
};
</script>
