<template>
  <q-page class="q-pa-lg bg-blue-grey-10   column">
    <div>
      <items marked></items>

      <div class="absolute-center fix-wrap" v-show="!getMarkedNotes.length">
        <q-icon name="notes" class="q-pb-md" size="xl"></q-icon>
        <span class="text-h4 ">No marked notes</span>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  components: {
    items: require("components/items.vue").default,
  },

  methods: {},

  computed: {
    getMarkedNotes() {
      return this.$store.state.data.notes.filter((notes) => {
        return notes.marked;
      });
    },
  },
};
</script>

<style lang="scss">
.q-slide-item {
  margin-top: 10px;
}
.fix-wrap {
  display: inline-table;
}
</style>
