<template>
  <q-page class="q-pa-sm bg-blue-grey-10   column fix">
    <div>
      <q-tab-panels v-model="tab" animated transition-prev="jump-right" transition-next="jump-left">
        <q-tab-panel name="notes">
          <items> </items>
        </q-tab-panel>

        <q-tab-panel name="add">
          <div class="q-gutter-md">
            <q-input filled v-model="newNoteTitle" placeholder="Title" :class="{ 'title-mob': !platform }">
              <template v-slot:prepend> <q-icon name="title" /> </template
            ></q-input>

            <q-editor
              min-height="300px"
              v-model="newNoteData"
              :dense="platform"
              toolbar-bg="blue-4"
              placeholder="Add Text"
              toolbar-rounded
              @click="hideHeader"
              :toolbar="[
                [
                  {
                    label: $q.lang.editor.align,
                    icon: $q.iconSet.editor.align,
                    fixedLabel: true,
                    list: 'only-icons',
                    options: ['left', 'center', 'right', 'justify'],
                  },
                ],
                ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
                ['token', 'hr', 'link', 'custom_btn'],
                ['fullscreen'],
                [
                  {
                    label: $q.lang.editor.formatting,
                    icon: $q.iconSet.editor.formatting,
                    list: 'no-icons',
                    options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
                  },
                  {
                    label: $q.lang.editor.fontSize,
                    icon: $q.iconSet.editor.fontSize,
                    fixedLabel: true,
                    fixedIcon: true,
                    list: 'no-icons',
                    options: ['size-1', 'size-2', 'size-3', 'size-4', 'size-5', 'size-6', 'size-7'],
                  },
                  {
                    label: $q.lang.editor.defaultFont,
                    icon: $q.iconSet.editor.font,
                    fixedIcon: true,
                    list: 'no-icons',
                    options: ['default_font', 'arial', 'arial_black', 'comic_sans', 'courier_new', 'impact', 'lucida_grande', 'times_new_roman', 'verdana'],
                  },
                  'removeFormat',
                ],
                ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

                ['undo', 'redo'],
                ['viewsource'],
              ]"
              :fonts="{
                arial: 'Arial',
                arial_black: 'Arial Black',
                comic_sans: 'Comic Sans MS',
                courier_new: 'Courier New',
                impact: 'Impact',
                lucida_grande: 'Lucida Grande',
                times_new_roman: 'Times New Roman',
                verdana: 'Verdana',
              }"
            />
          </div>
        </q-tab-panel>
      </q-tab-panels>
      <div class="absolute-center" v-show="!getNotes.length && tab == 'notes'">
        <q-icon name="notes" class="q-pb-md" size="xl"></q-icon>
        <span class="text-h4"> No notes </span>
      </div>

      <div class="fixed-bottom-right q-pa-lg">
        <transition appear enter-active-class="animated backInLeft" leave-active-class="animated backOutLeft">
          <q-btn v-show="tab == 'notes'" @click="addNotePage" class=" rektumorphism q-mx-sm" round color="white" text-color="primary" icon="add" size="lg" />
        </transition>
        <transition appear enter-active-class="animated heartBeat" leave-active-class="animated heartBeat">
          <q-btn v-show="getNewNote.title != ''" @click="addNote" class=" rektumorphism float-right" round color="white" text-color="green" icon="done" size="lg" />
        </transition>
      </div>

      <div class=" q-pa-lg q-mt-lg" :class="[platform ? 'fixed-bottom-left' : 'absolute-bottom-left']">
        <!-- fix back button hidden on mobile  -->
        <transition appear enter-active-class="animated backInRight" leave-active-class="animated backOutRight">
          <q-btn v-show="tab == 'add'" @click="goBack" class="rektumorphism q-mx-sm" round color="white" text-color="negative" icon="keyboard_backspace" size="lg" />
        </transition>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  components: { items: require("components/items.vue").default },

  data() {
    return {};
  },
  methods: {
    addNotePage() {
      this.$store.commit("data/hideDrawer");
      this.$store.commit("data/tabTo", "add");
    },
    addNote() {
      this.$store.dispatch("data/asyncSendNote");

      this.$store.commit("data/tabTo", "notes");
      this.$store.commit("data/showHeader");

      if (this.$store.state.data.wasOnMark) {
        this.$router.push("marked");
        this.$store.commit("data/wasOnMark", false);
      }
    },
    goBack() {
      if (this.newNoteTitle != "") {
        this.$q
          .dialog({
            title: "Remove",
            message: "Note not saved , remove note? ",
            ok: {
              push: true,
              color: "blue",
            },
            cancel: {
              push: true,
              color: "red",
            },
            persistent: true,
          })
          .onOk(() => {
            this.$q.notify({
              type: "info",
              message: "Note removed. ",
              badgeColor: "blue",
              badgePosition: "top-right",
              timeout: 2000,
              progress: true,
            });
            this.$store.commit("data/cleanNewNote");
            this.$store.commit("data/tabTo", "notes");
            this.$store.commit("data/showHeader");
          });
      } else {
        this.$store.commit("data/tabTo", "notes");
        this.$store.commit("data/showHeader");
      }
    },
    hideHeader() {
      this.$store.commit("data/hideHeader");
      this.$store.commit("data/hideDrawer");
    },
  },
  computed: {
    platform() {
      if (this.$q.platform.is.mobile == true) return true;
      else return false;
    },
    tab() {
      return this.$store.state.data.tab;
    },
    getNotes() {
      return this.$store.state.data.notes.filter((notes) => {
        return notes.marked == false;
      });
    },
    getNewNote() {
      return this.$store.state.data.newNote;
    },
    newNoteTitle: {
      get() {
        return this.$store.state.data.newNote.title;
      },
      set(value) {
        this.$store.commit("data/newNoteTitle", value);
      },
    },
    newNoteData: {
      get() {
        return this.$store.state.data.newNote.data;
      },
      set(value) {
        this.$store.commit("data/newNoteData", value);
      },
    },
  },
};
</script>

<style lang="scss">
.q-slide-item {
  margin-top: 10px;
}
.q-tab-panels {
  background: none;
}
.row,
.column,
.flex {
  //fix stupid bug kill me
  flex-wrap: nowrap !important;
}
.q-editor {
  //fix white space again bruh
  border: none;
}
.title-mob {
  max-width: 300px;
}
.rektumorphism {
  border-radius: 50%;
  background: linear-gradient(145deg, #4da7db, #5bc6ff);
  box-shadow: 10px 10px 10px #0044ff, -10px -10px 10px #88ffff;
}
</style>
