<template>
  <q-list separator>
    <q-slide-item
      left-color="yellow"
      right-color="red"
      top-color="yellow"
      bottom-color="red"
      class="shadow-5 "
      v-for="(note, index) in getNotes"
      v-show="selectNotes(note)"
      :key="index"
      @left="(opt) => onLeft(opt, index)"
      @right="(opt) => onRight(opt, index)"
    >
      <template v-slot:left>
        <div class="row items-center">
          <q-icon left name="star" /> {{ leftText }}
        </div>
      </template>
      <template v-slot:right>
        <div class="row items-center">
          Remove <q-icon right name="delete_forever" />
        </div>
      </template>

      <q-card
        class="text-white "
        style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)"
      >
        <q-expansion-item
          :label="note.title"
          header-class="height"
          expand-icon-class="remove-toggle"
          @mousedown="startEdit(note, index)"
          @touchstart="startEdit(note, index)"
          @touchcancel="stopEdit"
          @touchend="stopEdit"
          @mouseleave="stopEdit"
          @mouseup="stopEdit"
        >
          <q-card-section
            v-show="note.data != '' && note.data != '<br>'"
            @mousedown="startEdit(note, index)"
            @touchstart="startEdit(note, index)"
            @touchcancel="stopEdit"
            @touchend="stopEdit"
            @mouseleave="stopEdit"
            @mouseup="stopEdit"
          >
            <q-item>
              <q-item-section>
                <q-item-label>
                  <div class=" q-pa-lg text-white" v-html="note.data"></div
                ></q-item-label>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-expansion-item>
      </q-card>
    </q-slide-item>
  </q-list>
</template>

<script>
export default {
  props: { marked: Boolean },
  data() {
    return {
      interval: false,
    };
  },
  computed: {
    getNotes() {
      return this.$store.state.data.notes;
    },
    leftText() {
      if (this.marked) {
        return "Unmark";
      } else {
        return "Mark";
      }
    },
  },
  methods: {
    selectNotes(note) {
      if (this.marked) {
        return note.marked;
      } else {
        return !note.marked;
      }
    },

    onLeft({ reset }, index) {
      this.$q.notify({
        type: "info",
        message: this.marked ? "Note unmarked" : "Note maked",
        badgeColor: "blue",
        badgePosition: "top-right",
        timeout: 2000,
        progress: true,
      });
      if (this.marked) {
        this.$store.dispatch("data/asyncUnMark", index);
      } else {
        this.$store.dispatch("data/asyncMarkNote", index);
      }

      reset();
    },

    onRight({ reset }, index) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Confirm remove",
          ok: {
            push: true,
            color: "blue",
          },
          cancel: {
            push: true,
            color: "red",
          },
          persistent: true,
        })
        .onOk(() => {
          this.$q.notify({
            type: "info",
            message: "Note removed. ",
            badgeColor: "blue",
            badgePosition: "top-right",
            timeout: 2000,
            progress: true,
          });

          this.$store.commit("data/rmNote", index);
        })
        .onCancel(() => {
          reset();
        })
        .onDismiss(() => {
          reset();
        });
    },

    startEdit(note, index) {
      if (!this.interval) {
        this.interval = setInterval(() => {
          this.$store.commit("data/newNoteTitle", note.title);
          this.$store.commit("data/newNoteData", note.data);
          this.$store.commit("data/newNoteMark", note.marked);
          this.$store.commit("data/rmNote", index);
          if (this.marked) {
            this.$router.push("/");
            this.$store.commit("data/wasOnMark", true);
          }
          this.$store.commit("data/tabTo", "add");

          //
          clearInterval(this.interval);
          this.interval = false;
        }, 2000);
      }
    },
    stopEdit() {
      clearInterval(this.interval);
      this.interval = false;
    },
  },
};
</script>

<style lang="scss">
.q-slide-item {
  border-radius: 4px;
}

.q-card__section--vert {
  padding-top: 0px;
}
.height {
  min-height: 80px;
}
.q-item__label {
  text-align: center;
  font-size: 130%;
}
.remove-toggle {
  display: none;
}
.q-list--separator > .q-item-type + .q-item-type,
.q-list--separator > .q-virtual-scroll__content > .q-item-type + .q-item-type {
  //fix white space
  border-top: none;
}
.q-slide-item__content {
  //fix white pixels
  background-color: blue;
}
.q-card__section--vert {
  // vertical center
  padding: 0;
}
.q-expansion-item__content {
  box-shadow: inset 0px 27px 35px #224a61, 0px -17px 35px #88ffff;
}
.q-dialog-plugin {
  padding-left: 1%;
  padding-top: 1%;
}
</style>
