<template>
  <q-layout view="lHh Lpr lFf">
    <transition
      appear
      enter-active-class="animated fadeIn"
      leave-active-class="animated backOutUp"
    >
      <q-header elevated class=" top-background " v-show="header">
        <q-toolbar>
          <q-btn
            flat
            dense
            round
            icon="menu_open"
            aria-label="Menu"
            @click="drawer = !drawer"
            class="absolute-top-left q-pa-sm"
          />
          <div class="q-px-xl q-mb-md q-mt-md   ">
            <div class="text-h3  ">Notes</div>
            <div class="text-subtitle1 ">
              <q-icon name="today" /> {{ date }}
            </div>
          </div>
        </q-toolbar>
      </q-header>
    </transition>

    <q-drawer
      class="shadow-2"
      v-model="drawer"
      show-if-above
      :width="250"
      :breakpoint="700"
    >
      <q-scroll-area class="fit">
        <q-list class="menu-list">
          <q-item clickable v-ripple to="/" exact>
            <q-item-section avatar>
              <q-icon name="sticky_note_2" />
            </q-item-section>

            <q-item-section>
              All Notes
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple exact to="/marked">
            <q-item-section avatar>
              <q-icon name="star" />
            </q-item-section>

            <q-item-section>
              Marked Notes
            </q-item-section>
          </q-item>
          <q-item clickable v-ripple to="/about" exact>
            <q-item-section avatar>
              <q-icon name="info" />
            </q-item-section>

            <q-item-section> About </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <keep-alive>
        <router-view />
      </keep-alive>
    </q-page-container>
  </q-layout>
</template>

<script>
import { date } from "quasar";

export default {
  name: "MainLayout",
  data() {
    return {};
  },
  methods: {},
  computed: {
    date() {
      let timeStamp = Date.now();
      return date.formatDate(timeStamp, "dddd DD MMM YYYY ");
    },
    drawer: {
      get() {
        return this.$store.state.data.drawer;
      },
      set() {
        this.$store.commit("data/modelDrawer");
      },
    },
    header() {
      return this.$store.state.data.header;
    },
  },
};
</script>

<style lang="scss">
.top-background {
  background: url("../assets/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  //fix white bg on animation
  background-color: $blue-2;
}
</style>
